@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Colors */

    /* Primary */
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    
    /* Neutral */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    
    /* Font style */
    --font-family-default: 'League Spartan', sans-serif;

    /* Font Sizes */
    --fs-body: 0.9375rem;
    --fs-heading1: 1.5rem;
    --fs-heading2: 1.25rem;

    /* Font weights/boldness */
    --fw-bolder: 700;
    --fw-bold: 500;
    --fw-normal: 400;


}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
    font-family: var(--font-family-default);
    font-weight: var(--fw-normal);
    font-size: var(--fs-body);
}



img,
svg {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.ht-100{
    min-height: 100vh;
}

.flex-container {
    display: flex;
}

.flex-container-in-center {
    justify-content: center;
    align-items: center;

}

.flex-direction-column {
    flex-direction: column;
}

p {
    font-size: var(--fs-body);
}

.card-header {
    display: flex;
    column-gap: 1rem;
}